<div class="container-fluid px-5 d-none d-lg-block" style="background-color: #1E4E59;">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <small class="text-light"><i class="fa fa-envelope-open me-2"></i> {{ company.email }} </small>
                <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i> {{ 'contact@salanor.com' }} </small>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <!-- <a *ngIf="company?.links?.twitter" class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" [href]="company.links.twitter" target="_blank"><i class="fab fa-twitter fw-normal"></i></a> -->
                <a *ngIf="company?.links?.facebook" class="btn btn-sm p-0 mx-2" [href]="'https://www.facebook.com/profile.php?id=61575869666247'" target="_blank">
					<i class="bi bi-facebook fw-normal" style="font-size: 1.5rem; color: #0C70F2;"></i>
				</a>
                <a *ngIf="company?.links?.linkedin  " class="btn btn-sm p-0 mx-2" [href]="'https://www.linkedin.com/company/salanor'" target="_blank">
					<i class="bi bi-linkedin" style="font-size: 1.5rem; color: #0B6BBF;"></i>
				</a>
                <!-- <a *ngIf="company?.links?.instagram" class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" [href]="company.links.instagram" target="_blank"><i class="fab fa-instagram fw-normal"></i></a> -->
                <a *ngIf="company?.links?.f6s" class="btn btn-sm p-0 mx-2" [href]="company.links.f6s" target="_blank">
					<img src="imgs/f6s-icon.png" class="mb-1" alt="F6S" style="width: 28px; height: 28px;">
				</a>
            </div>
        </div>
    </div>
</div>

<header [class.scrolled]="isScrolled" class="small-screen" style="background-color: #F3EDE1;">
	<div class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen}">
		<div class="sidebar-header">
			<span class="btn-close" (click)="toggleSidebar()">×</span>
		</div>
		<nav class="list-group list-group-flush">
			<a class="list-group-item text-white" routerLink="/" (click)="toggleSidebar()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
				{{ 'header.home' | translate }}
			</a>
			<a class="list-group-item text-white" routerLink="/about-us" (click)="toggleSidebar()" routerLinkActive="active">
				{{ 'header.about' | translate }}
			</a>
			<a class="list-group-item text-white" routerLink="/product" (click)="toggleSidebar()" routerLinkActive="active">
				{{ 'header.product' | translate }}
			</a>
			<a class="list-group-item text-white" routerLink="/market-impact" (click)="toggleSidebar()" routerLinkActive="active">
				{{ 'header.impact' | translate }}
			</a>
			<a class="list-group-item text-white" routerLink="/contact-us" (click)="toggleSidebar()" routerLinkActive="active">
				{{ 'header.contact' | translate }}
			</a>
			
			<!-- <b href="javascript:void(0)" class="m-4" (click)="toggleSidebar()">
				<div>
					<a class="contact-button py-2" routerLink="/start-project">Start Project</a>
				</div>
			</b> -->
		</nav>
		<div class="language-switcher mt-3" style="display: flex;">
			<select (change)="switchLang($event)" [(ngModel)]="selectedLanguage" style="margin-left: auto; margin-right: auto; width: 75%;">
			  <option *ngFor="let lang of languages" [value]="lang.value" [hidden]="lang.value === selectedLanguage">
				<span class="flag-icon flag-icon-us"></span>{{ lang.label }}
			  </option>
			</select>
		</div>		  
	</div>
	
	<!-- Backdrop -->
	<div class="backdrop" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>

	<div class="container-fluid">
		<div>
			<span class="hamburger" (click)="toggleSidebar()">☰</span>
		</div>


		<div class="left">
			<div class="logo" style="cursor: pointer;" routerLink="/">
				<img src="logo.png" height="50px" alt=""> SALANOR
			</div>
		</div>
	</div>
</header>



<header class="large-screen" [class.scrolled]="isScrolled" style="background-color: #F3EDE1; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
	<div class="container-fluid">
		<div class="left">
			<div class="logo" style="cursor: pointer;" routerLink="/">
				<img src="logo.png" height="50px" alt=""> SALANOR
			</div>
		</div>
	
		<div class="center">
			<nav>
				<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ 'header.home' | translate }}</a>
				<a routerLink="/about-us" routerLinkActive="active">{{ 'header.about' | translate }}</a>
				<a routerLink="/product" routerLinkActive="active">{{ 'header.product' | translate }}</a>
				<a routerLink="/market-impact" routerLinkActive="active">{{ 'header.impact' | translate }}</a>
				<!-- <a routerLink="/news" routerLinkActive="active">News</a> -->
				<!-- <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a> -->
			</nav>
		</div>
		  
	
		<div class="right">
			<a class="contact-button" routerLink="/contact-us">{{ 'header.contact' | translate }}</a>
			<!-- <a class="contact-button" routerLink="/start-project">Start Project</a> -->
			<div class="language-switcher mx-2">
				<select (change)="switchLang($event)" [(ngModel)]="selectedLanguage">
					<option *ngFor="let lang of languages" [value]="lang.value" [hidden]="lang.value === selectedLanguage">
					  {{ lang.label }}
					</option>
				</select>
			</div>
			  
		</div>
	</div>
</header>